<div class="row">
	<div class="col-lg-12">
		<div class="portlet">
		<div class="portlet-heading dark">
			<div class="portlet-title">
				<h4>HOME </h4>
			</div>
			<div class="portlet-widgets">
				<a data-toggle="collapse" data-parent="#accordion" href="#ft-1"><i class="fa fa-chevron-down"></i></a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div id="ft-1" class="panel-collapse collapse in">
			<div class="portlet-body">
				Welcome, <?php echo "<mark>".ucfirst($this->session->userdata('username'))."</mark>";?>
			</div>
		</div>
	</div>
							
		
	</div>
</div>	
