<div class="portlet">
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4><i class="fa fa-user"></i> DAFTAR Wilayah <small class="text-white">KKKS Realisasi</small></h4>
		</div>
		<div class="portlet-widgets">
			<a data-toggle="collapse" data-parent="#accordion" href="#tabs-4"><i class="fa fa-chevron-down"></i></a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="tabs-4" class="panel-collapse collapse in">
		<div class="portlet-body">

			<!-- :Start Data Absensi - @philtyphils -->
				<div class="portlet-body">
					<div class="tc-tabsbar lg arrow"><!-- Nav tabs style 8-->
						<ul class="nav nav-tabs">
							<li>
								<a href="#insert" data-toggle="tab">
								<i class="fa fa-cog fa-spin"></i> Insert Data Wilayah </a>
							</li>
							<li class="active"><a href="#tab20" data-toggle="tab">
								<i class="fa fa-cogs "></i> Data Wilayah</a>
							</li>
						</ul>
					</div>
					
					<div class="tab-content">
						<!--
						- Tab Insert Data Wilayah (isi)
						-->
						<div class="tab-pane" id="insert">
							<form action='#' class="form_insert_wilayah"  role="form" method="post">
							<table class="table table-bordered table-hover">
							<thead></thead>
							<tbody>
								<tr class='text-center'>
									<td>Kode Wilayah</td>
									<td>
											<input class="form-control" name="group" type="text" placeholder="Masukan Kode Wilayah" />
										
									</td>
								</tr>
								<tr class='text-center'>
									<td>Nama Wilayah</td>
									<td><input id="maxL-4" placeholder="Masukan Nama Wilayah" name="wilayah" class="form-control" type="text" ></td>
								</tr>
								<tr class='text-center'>
									<td>Level</td>
									<td>
										<select class="form-control selectpicker" id="level" name="level" data-live-search="true" data-style="btn-success">
											<option value="1">1 - Pusat</option>
											<option value="2">2 - Prov</option>
											<option value="3">3 - Kab/Prov</option>
											<option value="4">4 - Kec</option>
											
										</select>
									</td>
								</tr>
							
								<tr class='text-center'>
									<td>Keterangan</td>
									<td><textarea id="maxL-3" class="form-control" name="description"  rows="2" maxlength="225"></textarea>
									<span class="help-block "><code><small>Isi Deskripsi . </small></code></span></td>
								</tr>
								
								<tr>
									<td colspan="2" class="text-center">
										<div class="col-sm-offset-2 col-sm-9">
											<button class="btn btn-primary insert_wilayah_submit" type="button"> 
												<i class="fa fa-pencil"></i> insert 
											</button>
											<button class="btn " type="button" onclick="cancel()">Cancel</button>
										</div>
									</td>
								</tr>
							<tbody>
							</table>
							</form>
						</div>
						
						<div class="tab-pane active" id="tab20">
							<form class="form-horizontal" role="form" >
								<div class="form-group">
									<label class="col-sm-2 control-label">Code - Nama</label>
									<div class="col-sm-5">
										<select class="form-control selectpicker" id="id_master" data-live-search="true" data-style="btn-info" data-selected-text-format="count>3">
											<?php foreach($master as $key => $value):?>
											
												<option value="<?php echo $value['ID_CONFIG'];?>"  >
													<?php echo $value['ID_CONFIG'] ." - " . $value['NM_CONFIG'];?>
												</option>
											<?php endforeach;?>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Group</label>
									<div class="col-sm-5">
									
										<select multiple="multiple" class="form-control selectpicker" id="level" data-live-search="true" data-style="btn-primary" data-selected-text-format="count>3">
											<?php for($i=1;$i<=4;$i++):?>
												<option value="<?php echo $i;?>"><?php echo $i;?></option>
											<?php endfor;?>
										</select>
									</div>
								</div>
								<div class="form-actions">
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-9">
											<button class="btn btn-warning" type="button" onclick="search_master_click()">
												<i class="fa fa-search"></i> Cari 
											</button>
											<!--<button class="btn btn-success" type="button" onclick="print_excel()">
												<i class="fa fa-file-excel-o"></i> EXCEL 
											</button>
											<button class="btn btn-primary" type="button" onclick="print_pdf()">
												<i class="fa fa-file-pdf-o"></i> PDF 
											</button>
											<button class="btn btn-info" type="button" onclick="print_html()">
												<i class="fa fa-html5 "></i> HTML 
											</button>-->
											<button class="btn " type="button" onclick="cancel()">Cancel</button>
										</div>
									</div>
								</div>
							</form>
							<br/><br/>
							<div id="loading_rekap_pegawai" style="display:none;margin-left:49.5%;">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<img src="{base_url}assets/img/loading.gif" alt="loading"/><br/>
								<span class="text-center">Memproses Data . . .</span>
						   </div>
						   <div id="load_rekap_pegawai"></div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>



